.profile{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 50%;
}
.pro_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pro_avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media screen and (max-width:900px) {
    .profile{
        width: 80%;
    }
}

@media screen and (max-width:700px) {
    .profile{
        width: 100%;
    }
}